.Sultanate-SMP{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    border-radius: 20px
}
body{
    background-color: rgb(36, 36, 36);
}